@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #CBD5E1;
}

.bebas{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
}  
.playfairFont{
    font-family: "Playfair Display SC", serif;
}
